@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Space+Mono&display=swap");
/*Global*/

* {
  font-family: "Space Mono", "Roboto Mono";
  margin: 0;
  padding: 0;
  background-color: #f43268;
  color: white;
  font-size: 20px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  height: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  gap: 1rem;
}

header {
  background-color: black;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.nav {
    grid-area: Nav;
    background-color: #ffbc7d;
}

.main {
    grid-area: Main;
    background-color: #d6d6d6;
}

.content {
display: flex;
justify-content: center;
align-items: center;
}

footer {
    background-color: black;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

@media screen and (min-width: 768px) {
  /*Big Screen*/

  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "Aside Nav Nav Nav"
      "Aside Main Main Main"
      "Aside Main Main Main"
      "Aside Main Main Main"
      "Aside Main Main Main";
  }

  header {
    justify-content: flex-start;
  }

  .aside {
    grid-area: Aside;
    background-color: #ed8320;
  }

  footer {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 768px) {
  /*Small Screen*/

  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "Nav"
      "Main"
      "Main"
      "Main"
      "Main";
  }

  header {
    justify-content: center;
  }

  .aside {
    display: none;
  }

  footer {
    justify-content: center;
  }
}
